* {
    margin: 0;
    padding: 0;
}


header {
    padding: 22px 28px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 990px;
    margin: 0 auto;
    flex: 1;
}

.menu {
    display: inline;
    padding-left: 160px;
    padding-top: 30px;
}


.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul li {
    margin: auto calc(34px / 2);
    float: right;
   
    
}

.menu ul li a {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc002d;
    text-decoration: none;
}

.menu ul li a:hover {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-saiba-mais {
    border: 1px solid #dcdcdc;
    color: #dc002d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 15.6pt;
    padding: 5px;
    text-decoration: none;
}

.btn-saiba-mais:hover {
    color: #333333;
}

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: top;
}

.col {
    flex: 1;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-right: 10px;
    margin-top: 40px;
    background-color: #e7e7e7; 
}
footer .container {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

#banner {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

#banner .col {
    flex: 1; 
}